body{
  background-color: #D4D4D2;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:100vh;
}

.title{
  color: black;
  margin-bottom: 40px;
}



